:root{
  --color1: #F05C54DB;
  --color2: #FFFFFD;
  --color-div: #457D97;

  --color-title: #423431;
  --color-txt: #6A6B5F;

  --font-main: 'Inter', sans-serif;
  --font-title: 'Oleo Script', cursive;
}