<div class="d-flex flex-grow-1">
  <div class="d-flex justify-center flex-column">
    <div class="h-100 w-100 container-video">
      <vm-player controls>
        <vm-video cross-origin="true" poster="https://media.vimejs.com/poster.png">
          <source data-src="https://media.vimejs.com/720p.mp4" type="video/mp4" />
          <track
          default
          kind="subtitles"
          src="https://media.vimejs.com/subs/english.vtt"
          srclang="en"
          label="English"
          />
        </vm-video>
      </vm-player>

    <div class="p-4 mx-auto">
      <section class="d-flex justify-content-start gap-4">
        <div class="flex-grow-1">
          <h1>Lógica de Programação</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est hic, officia reprehenderit nemo a nesciunt sequi ipsum odit obcaecati earum</p>

          <div class="d-flex align-items-center gap-2 mt-3">
            <img class="rounded-5 border" width="50" height="50" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHBvcnRyYWl0fGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="">

            <div class="">
              <strong>Bruno</strong>
              <span class="d-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero sequi maiores nemo ut, nostrum libero consequatur.</span>
            </div>
          </div>
        </div>
      </section>
      </div>
    </div>
  </div>
</div>