@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto&display=swap');

body{
  font-family: 'Architects Daughter', cursive;
  font-size: 8rem;
  background-image: linear-gradient(to right bottom, #ffffff, #d7d7d7, #b0b0b0, #8b8b8b, #676767);
  height: 100vh;
}

/* Seleção de Personagem */

.char-select{
  position: absolute;
  margin-inline: 25%;
  padding: 1rem;
  background-color: #fdfdfd;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17.5%;
  flex-direction: column;
  box-shadow: 1px 1px 4px rgb(41, 41, 41);
}

.char-txt{
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
}

.player-icon{
  font-size: 5rem;
  display: inline;
  transition: 0.1s;
}

.player-icon:hover{
  color: #3454b4;
  transition: 0.1s;
  font-size: 5.5rem;
  cursor: pointer;
}

/* Tela do Game */

.game-container{
  margin: 10% auto;
  padding: 1rem;
  height: 27rem;
  width: 27rem;
  background-color: #fdfdfd;
  display: flex;  
  flex-wrap: wrap;
}

.block-area1{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32.8%;
  height: 32.8%;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.block-area2{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32.8%;
  height: 32.8%;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.block-area3{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32.8%;
  height: 32.8%;
  border-bottom: 2px solid #000
}

.block-area4{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32.8%;
  height: 32.8%;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.block-area5{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32.8%;
  height: 32.8%;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.block-area6{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32.8%;
  height: 32.8%;
  border-bottom: 2px solid #000;
}

.block-area7{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32.8%;
  height: 32.8%;
  border-right: 2px solid #000;
}

.block-area8{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32.8%;
  height: 32.8%;
  border-right: 2px solid #000;
}

.block-area9{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32.8%;
  height: 32.8%;
}

.hide{
  display: none;
}

/* Estilização do Modal */

.modal{ 
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 6.25rem;  
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
} 

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  display: flex;
  justify-content: center;
}

.btn-container{
  margin: 3rem 0;
  display: flex;
  justify-content: space-around;
}

.btn{
  border: none;
  border-radius: 5px;
  color: #fdfdfd;
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}


#modalTxt{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 4rem;
}